/* This is the main stylesheet */
body {
  padding: 0px;
  margin: 0px;
}

#header {
  background-color: whitesmoke;
}

#nav-bar {
  width: 100%;
  background-color: gray;
  padding: 5px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.nav-link {
  display: inline-block;
  width: 30%;
  text-align: center;
  font-size: 14px;
  color: white;
}

#header-img {
  display: block;
  width: 100%;
  max-width: 500px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

h1 {

}

main {
  padding: 10px;
}

#form {
  border: solid;
  padding: 5px 10px 15px 10px;
  margin: 5px auto 15px auto;
  max-width: 700px;
}

h2 {}

input {
  margin: 5px 0px 10px 0px;
  padding: 5px;
  width: 95%;
}

#submit {}

.separation {}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: cyan;
  padding: 20px;
}

.flex-item {
  flex:auto;
  padding: 5px 30px 10px 10px;
}

.empty {
  max-width: 300px;
}

.image {
  width: 180px;
  height: 210px;
}

.para {
  max-width: 650px;
  text-align: left;
}

#Demonstration {
  padding: 10px;
}

.video-wrapper {
  position: relative;
  background-color: red;
  padding-right: 100%;
  padding-top: 56.25%;
}

#video {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

footer {
  text-align: center;
  padding: 20px;
}
